
.barra-nav{
	position: relative;
	height: 70px;
}


.nav-item a{
	position: relative;
	color: white !important;
	font-size: 25px;
	left: -10px;
}

.button-Estudiante{
	position: relative;
	top: 130px;
	left: 1%;
}

.modal-header h5{
	position: relative;
	left:10%;
}

.form-datos {
	position: relative;
	display: flex;
	width: 100%;
}

.form-datos input{
	position: relative;
	margin-left: 10px;
}

#Estudiantes{
	position: relative;
	text-align: center;
	width: 100%;
	background-color: white !important;
	top: 100px;
	margin-bottom: 10%;
}

.table{
	position: relative;
	margin-top: 10%;
}

.N_Column{
	position: relative;
	text-align: center;
	left: 1.4%;
}

.D_Fila{
	position: relative;
	text-align: center;
	left: 1.4%;
}

